.site-header {
  -webkit-box-shadow: 0px 2px 4px #0000000e;
          box-shadow: 0px 2px 4px #0000000e;

  &__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  &__wrapper--link {
    margin: 0;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;

    &:hover {
      outline: none;
    }
  }

  &__wrapper--end {
    content: "";
    padding-left: 15px;
    background-repeat: no-repeat;
    background-position: left center;
  }

  &__wrapper--btn {
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
  }
}

.wrapper--dark {
  background-image: url("../../assets//images/logo/moon-white.svg");
}

.wrapper--light {
  background-image: url("../../assets/images/logo/Path.svg");
}

@media only screen and (max-width: 400px) {
  .site-header {

    &__wrapper{
      padding: 30px  0;
    }

    &__wrapper--link {
      font-size: 14px;
      line-height: 20px;
    }

    &__wrapper--btn {
      font-size: 12px;
      line-height: normal;
    }
  }
}